html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}
body {
    overflow-x:hidden;
}

.container {
    height: 100px;
}
.row {
    width: 1140px;
    margin-left: 400px;
}
.logo {
    width: 180px;
}
.logo p{
    font-size: 20px;
    font-family: "Gotham Pro", sans-serif;
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    text-align: left;
    line-height: 1.108;
    padding-top: 40px;

}
.header-menu {
    width: 640px;
    margin-left: 250px;
    margin-top: -20px;
}
.header-menu a {
    text-decoration: none;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    color: #4a4a4a;
    text-align: center;
    margin-right: 30px;

}
.header-menu a:hover {
    border-bottom: 2px solid rgb(255, 243, 1);
}

.header-phone {
    margin-top: -20px;
}
.header-phone p{
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    text-align: right;
}
.main{
    margin-top: 100px;
}
.main-text-container span{
    font-size: 65px;
    font-family: "Georgia", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
}
.main-text-container p{
    margin-top: 35px;
    font-size: 16px;
    font-family: 'PT Serif', serif;
    color: #4a4a4a;
}
.btn-main{
    margin-top: 35px;
    background: url("/src/assets/icons/btn-main.png"), center no-repeat;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    width: 257px;
    height: 52px;
    outline: 0;
    outline-offset: 0;
    border: none;
    cursor: pointer;
}
.btn-main:hover{
    background: url("/src/assets/icons/btn-main-hover.png"), center no-repeat;
}
.btn-main-ot{
    margin-top: 35px;
    background: url("/src/assets/icons/btn-main.png"), center no-repeat;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    width: 257px;
    height: 52px;
    outline: 0;
    outline-offset: 0;
    border: none;
    cursor: pointer;
}
.btn-main-ot:hover{
    background: url("/src/assets/icons/btn-main-hover.png"), center no-repeat;
}
.main-logo {
    margin-top: -350px;
    margin-left: 565px;
}

.main-social a{
    margin-right: 10px;
}
.advantage {
    margin-top: 100px;
}
.adv-logo {
    margin-left: -250px;
}
.adv-title {
    margin-top: -90px;
    font-size: 24px;
    font-family: "Georgia",sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    -moz-transform: matrix( 1.65801735638009,0,0,1.65801735638009,0,0);
    -webkit-transform: matrix( 1.65801735638009,0,0,1.65801735638009,0,0);
    -ms-transform: matrix( 1.65801735638009,0,0,1.65801735638009,0,0);
    margin-bottom: 70px;
}
.adv-items {
    display: grid;
    grid-template-columns: repeat(4, 280px);
}
#box5{
    margin-top: 40px;
    grid-column-start: 2;
}
#box6 {
    margin-top: 27px;
}
.adv-item img{
    margin-left:110px;
    margin-bottom: 20px;
}
.adv-t {
    font-size: 25px;
    font-family: "Georgia", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    text-align: center;
}

.adv-t p {
    margin-top: 20px;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: rgb(136, 136, 136);
    line-height: 1.625;
    text-align: center;
    font-weight: 400;
}
.adv-per {
    margin-top: -150px;
    margin-left: 1080px;
}

.program-container {
    margin-top: 100px;
}
.program-title {
    font-size: 40px;
    font-family: "Georgia",sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    line-height: 1.078;

}
.program-title p {
    margin-top: 20px;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: #6f6f6f;
    line-height: 1.45;
    font-weight: 400;
}
.view-all {
    margin-left: 850px;
    margin-top:-30px;
    margin-bottom: 50px;
}
.view-all a{
    font-size: 20px;
    font-family: "PT Sans",sans-serif;
    color: rgb(137, 137, 137);
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.75;
}
.news-container-items {
    height: 730px;
    width: 1150px;
    display: flex;
}
.news-slide-item {
    margin-left: 10px;
    height: 730px;
    width: 1150px;
    overflow: hidden;
}

.slide-info{
    margin-left: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 9.4px 0.6px rgba(0, 0, 0, 0.21);
    width: 360px;
    height: 700px;

}
.news-slide-item li {
    color: #fff400;
    margin-left: 65px;
    margin-top: 15px;
}
.news-slide-item li span{
    color: #6f6f6f;
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    line-height: 1.375;


}
.new-slider-wrap {
    overflow: hidden;
}
.news-slider-inner {
    display: flex;
    justify-content:space-between ;
    overflow: hidden;
    width: 100%;
}
.slide-title {
    font-size: 25px;
    font-family: "Georgia", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    line-height: 1.32;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
}
.news-slide-item .btn-main {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    text-transform: uppercase;
}
.news-prev {
     margin-top: -370px;
     margin-left: -70px;
    cursor: pointer;
    opacity: 60%;
 }
.news-next {
    margin-left: 1190px;
    margin-top: -36px;
    cursor: pointer;
    opacity: 60%;
}
.news-prev:hover {
    opacity: 100%;
}
.news-next:hover {
    opacity: 100%;
}
.form {
    height: 500px;
    margin-top: 190px;
}
.form-btn {
    border-width: 1px;
    border-color: rgb(255, 245, 34);
    background-color: rgb(255, 245, 34);
    border-style: solid;
    border-radius: 30px 30px;
    width: 370px;
    height: 51px;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
    cursor: pointer;
    font-size: 14px;
    font-family: "PT Sans",sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    margin-top: 20px;
}
.form-btn:hover {
    background-image: -moz-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -webkit-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -ms-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);

}


.form-row {
    margin-left: 690px;
    margin-top: -600px;
}
.form-row input {
    margin-top: 10px;
    outline: 0;
    outline-offset: 0;
    border-width: 1px;
    border-color: rgb(255, 245, 34);
    border-style: solid;
    border-radius: 30px 30px;
    width: 320px;
    height: 51px;
    padding-left: 40px;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}
.form-container {
    margin-top: 500px;
}
.form-title span{
    font-size: 40px;
    font-family: "Georgia", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    line-height: 1.203;
}
.form-title p {
    margin-top: 20px;
    font-weight: 400;
    color: #161616;
    line-height: 1.5;
    margin-bottom: 20px;
}
.promo-day {
    background: black;
    width: 100%;
    height: 700px;
}
.promo-title {
    padding-top: 170px;
    font-size: 40px;
    font-family: "Georgia",sans-serif;
    color: rgb(254, 254, 254);
    font-weight: bold;
    line-height: 0.875;
}
.promo-title span {
    font-size: 40px;
    font-family: "Georgia",sans-serif;
    color: rgb(255, 244, 30);
    font-weight: bold;
    line-height: 1.328;
    -moz-transform: matrix( 1.51823840317328,0,0,1.51823840317328,0,0);
    -webkit-transform: matrix( 1.51823840317328,0,0,1.51823840317328,0,0);
    -ms-transform: matrix( 1.51823840317328,0,0,1.51823840317328,0,0);

}
.promo-text {
    padding-top: 35px;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}
.promo-btn {
    margin-top: 30px;
    width: 389px;
    height: 51px;
    border-radius: 30px 30px;
    background-color: rgb(255, 245, 34);
    border: none;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
    outline-offset: 0;
    cursor: pointer;
}
.promo-btn:hover  {
    background-image: -moz-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -webkit-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -ms-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);

}
.promo-img {
    margin-left: 530px;
    margin-top: -300px;
    display: flex;
}
#img2 {
    margin-top: -12px;
    margin-left: 30px;
}
.o-nas {
    height: 1450px;
}
.o-nas-container {
    margin-top: 100px;
}
.o-nas-container img {
    z-index: 0;
}
.o-nas-title {
    background: white;
    box-shadow: 0px 3px 9.4px 0.6px rgba(0, 0, 0, 0.1);
    width: 630px;
    height: 320px;
    margin-left: 450px;
    margin-top: -400px;
    z-index: 100 !important;
    position: relative;
    padding-top: 60px;
    padding-left: 60px;
}
.o-nas-title span {
    font-size: 40px;
    font-family: "Georgia", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    line-height: 0.875;

}
.o-nas-title p {
    font-size: 16px;
    font-family: "PT Serif", serif;
    color: rgb(22, 22, 22);
    line-height: 1.625;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
}
.o-nas-title a {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: rgb(255, 243, 0);
    font-weight: bold;
    line-height: 1.625;
    list-style-type: none;
    text-decoration: none;
}

.command {
    margin-top: 250px;

}
.command-title span{
    font-size: 40px;
    font-family: "Georgia", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    line-height: 0.875;
    text-align: center;
}
.command-title p {
    margin-top: 20px;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: rgb(137, 137, 137);
    line-height: 1.5;
    text-align: center;
}
.command-img {
    margin-top: 40px;
    display: flex;
    margin-left: -50px;

}
.command-img * {
    margin-left: 18px;
}

.command-hov {
    margin-top: -200px;
}
.img1 {
    z-index: 100;
    position: relative
}
.com-container {
    z-index: 1;
}
.command-hov {
    font-size: 25px;
    font-family: "Georgia", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
}
.command-hov p{
    font-size: 16px;
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    color: rgb(137, 137, 137);
    line-height: 2.188;
    text-align: center;
}
.command-a {
    margin-left: 50px;
    margin-top: 10px;
}


.reviews {
    margin-top: 100px;
    height: 550px;
}

.reviews-container input{
    margin-top: 20px;
    outline: 0;
    outline-offset: 0;
    border-width: 1px;
    border-color: rgb(255, 245, 34);
    border-style: solid;
    border-radius: 30px 30px;
    width: 320px;
    height: 51px;
    padding-left: 40px;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}
.reviews-btn {
    border-width: 1px;
    border-color: rgb(255, 245, 34);
    background-color: rgb(255, 245, 34);
    border-style: solid;
    border-radius: 30px 30px;
    width: 320px;
    height: 51px;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
    cursor: pointer;
    font-size: 14px;
    font-family: "PT Sans",sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    margin-top: 20px;
}
.reviews-btn:hover {
    background-image: -moz-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -webkit-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -ms-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
}

.reviews-title span{
    font-size: 40px;
    font-family: "Georgia",sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    line-height: 1.175;

}
.reviews-title p {
    padding-top: 20px;
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    color: rgb(136, 136, 136);
    line-height: 1.625;
}
.rev-container {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 9.4px 0.6px rgba(0, 0, 0, 0.09);
    width: 600px;
    height: 270px;
    margin-left: 40px;
}
.rev-slider-inner {
    overflow: hidden;
}



.rev-title {
    padding-top: 50px;
    margin-left: 60px;
    text-align: left;
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.625;
}
.rev-logo {
    margin-left: 60px;
    margin-top: 15px;
}

.rev-name{
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    line-height: 2.188;
    margin-left: 160px ;
    margin-top: -60px;
}
.rev-prof {
    font-size: 14px;
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    color: rgb(160, 160, 160);
    line-height: 2.5;
    margin-left: 160px ;
    margin-top: -10px;
}
.rev-z {
    margin-top: -50px;
    margin-left: 350px ;
    display: flex;
}
.reviews-slider {


}
.rev-slider-wrap {
    width: 658px;
    height: 310px;
    overflow: hidden;
}
.rev-container-it {
    width: 600px;
    height: 800px;
}

.rev22 {

}
.rev2 {
    width: 545px;
    margin-left: 100px;
}


.contact-container {
    display: flex;
}
.contact-t {
    font-size: 40px;
    font-family: "Georgia",sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    margin-bottom: 40px;
}
.cont-p {
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    margin-top: 20px;
}
.cont-p p{
    font-size: 14px;
    font-family: "PT Sans",sans-serif;
    color: rgb(136, 136, 136);
    font-weight: 400;
    margin-top: 5px;
}
.contact-img {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.contact-info {
    max-width: 650px;
}
.contact-bor {
    border-width: 1px;
    border-color: rgb(255, 244, 0);
    border-style: solid;
    width: 600px;
    height: 250px;
    margin-left: 170px;
    margin-top: 90px;
}
.contact-info-title {
    font-size: 150px;
    font-family: "Marck Script", sans-serif;
    color: rgb(255, 244, 0);
    padding-left: 40px;
    margin-top: -80px;
}
.contact-info-title p {
    font-size: 25px;
    font-family: "Marck Script", sans-serif;
    color: rgb(22, 22, 22);
    -moz-transform: matrix( 0.72257763849874,0,0,0.72257763849875,0,0);
    -webkit-transform: matrix( 0.72257763849874,0,0,0.72257763849875,0,0);
    -ms-transform: matrix( 0.72257763849874,0,0,0.72257763849875,0,0);
    margin-top: -60px;
}

.cont-name {
    font-size: 25px;
    font-family: "Marck Script", sans-serif;
    color: rgb(137, 137, 137);
    margin-left: 370px;
    padding-top: -160px;
}
.footer {
    background: #161616;
    margin-top: 100px;
    height: 350px;
}
.footer-container{
    display: flex;
    padding-top: 40px;
}
.footer-info {
    width: 410px;
}
.footer-info h1{
    font-size: 25px;
    font-family: "PT Sans",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;

}
.footer-info p{
    margin-top: 15px;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.footer-info p img{
    margin-right: 15px;
}
.foot-p p{
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 25px;
}
.foot-a a {
    margin-top: 5px;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.footer-nav {
    width: 200px;
    margin-left: 50px;
}

.footer-nav a:hover {
    border-bottom: 2px solid rgb(255, 243, 1);
}
.footer-nav-l a:hover {
    border-bottom: 2px solid rgb(255, 243, 1);
}
.footer-nav-l {
    width: 80px;
    margin-left: 20px;
    margin-top: 40px;
}
.footer-inst {
    margin-left: 80px;
    display: flex;
}
.footer-img{
    margin-top: 50px;
    margin-left: -93px;
    width: 200px;
}
.footer-phone {
    margin-left: 50px;
    width: 250px;
}
.footer-phone input{
    margin-top: 10px;
    border-radius: 30px 30px;
    border-width: 1px;
    border-color: rgb(137, 137, 137);
    border-style: solid;
    background: #161616;
    opacity: 0.588;
    width: 200px;
    height: 28px;
    font-size: 14px;
    font-family: "PT Sans",sans-serif;
    color: rgb(106, 106, 106);
    font-weight: 400;
    padding-left: 20px;
    outline: 0;
    outline-offset: 0;
}
.footer-phone input:focus {
    color: rgb(255, 255, 255);
}
.footer-btn {
    outline: 0;
    outline-offset: 0;
    margin-top: 20px;
    border-width: 2px;
    border-color: rgb(255, 243, 1);
    border-style: solid;
    width: 228px;
    height: 36px;
    border-radius: 30px 30px;
    background: #161616;
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}
.footer-btn:hover {
    background-image: -moz-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -webkit-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -ms-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    color: black;

}
.footer-icons-container {
    margin-top: 30px;
    background-color: rgb(165, 165, 165);
    height: 1px;
}
.footer-icons-con {
    padding-top: 40px;
    margin-left: 400px;
}
.footer-icons-con *{
    margin-left: 10px;
}
.company {
    margin-top: 100px;
}

.go_to_top {
    position: fixed;
    right: 100px;
    bottom: 100px;
    background: #fff;
    display: inline-block;
    color: #000;
    text-align: center;
    z-index: 100;
    width: 0;
    height: 0;
}
.company-container {
    display: flex;
}
.company-title {
    font-size: 40px;
    font-family: "Georgia", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    margin-bottom: 50px;
}

.company-text {
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    color: rgb(22, 22, 22);
    line-height: 1.625;
    width: 522px;
    height: 380px;
    }
.company-text *{
    margin-top: 20px;
}
.company-img {
    margin-top: 80px;
}
.company-img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.c1 {
    margin-left: -5px;
    width: 362px;
    height: 220px;
}
.c2 {

}
.c3 {
    margin-left: -10px;
    width: 360px;
    height: 220px;
}
.company-wins-container {
    margin-top: 100px;
}
.company-wins-title {
    font-size: 40px;
    font-family: "Georgia",sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    text-align: center;
}
.company-wins-img {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    height: 520px;
}
.otzyv-container {
    width: 1143px;
    height: 802px;
    background-image: url("/src/assets/icons/otzyv.png");
}
.close {
    background: url("/src/assets/icons/x.png") center no-repeat;
    font-size: 40px;
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
    opacity: 0.6;
    width: 65px;
    height: 64px;
    border: none;
    position: relative;
    float: right;
    cursor: pointer;
}
.close:hover {
    opacity: 1;
}
.otzyv-menu {
    display: flex;
}
.otzyv-title {
    padding-top: 90px;
    margin-left: 120px;
    font-size: 40px;
    font-family: "Georgia", sans-serif;
    color: rgb(22, 22, 22);
    font-weight: bold;
    margin-bottom: 40px;
}
.otzyv-l input {
    margin-top: 15px;
    margin-left: 120px;
    display: flex;
    border-radius: 30px 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 370px;
    height: 35px;
    outline: 0;
    outline-offset: 0;
    font-size: 14px;
    font-family: "Georgia",sans-serif;
    font-weight: 400;
    color: rgba(136, 135, 135, 0.522);
    padding-left: 15px ;
}

.in1 {
    padding-top: 20px;
    padding-bottom: 130px;
}
.otzyv-z {
    margin-top: 15px;
    margin-left: 120px;
    display: flex;
    border-radius: 30px 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 370px;
    outline: 0;
    outline-offset: 0;
    font-size: 14px;
    font-family: "Georgia",sans-serif;
    font-weight: 400;
    color: rgba(136, 135, 135, 0.522);
    padding-left: 15px ;
    height: 50px;

}
.otzyv-z img {
    margin-top: 15px;
    width: 20px;
    height: 19px;
    margin-left: 10px;
    cursor: pointer;
}
.otzyv-z img:first-child {
    margin-left: 100px;
}
.otzyv-btn {
    margin-left: 120px;
    margin-top: 15px;
    border: none;
    background: #fff300;
    width: 280px;
    height: 60px;
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
    border-radius: 30px 30px;
    font-size: 14px;
    font-family: "Georgia", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.otzyv-btn:hover {
    background-image: -moz-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -webkit-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);
    background-image: -ms-linear-gradient( -179deg, rgb(255,251,177) 0%, rgb(255,243,1) 100%);

}
.otzyv-r {
    margin-left: 120px;
    font-size: 25px;
    font-family: "Georgia",sans-serif;
    color: rgb(1, 1, 1);
    font-weight: bold;
    margin-top: 170px;
}
.otzyv-r p{
    margin-top: 30px;
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    color: rgb(1, 1, 1);
    font-weight: 400;
    line-height: 1.625;
}
.otzyv-img {
    margin-top: 40px;
    margin-left: 220px;
}
.otzyv-img * {
    margin-left: 5px;
}
.popup {
    position: fixed;
    top: 0;
    z-index: 99999;
    opacity: 1;
}
.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 9999;
}
.back-1 {
    background: black;
}
.row-cont {
    display: flex;
}



@media screen and (max-width: 1900px){
    .row {
        margin-left: 200px;

    }
    body {
        max-width: 1536px;
        margin-right: -300px;
        overflow-x:hidden;
    }
    .main-container .row{
        width: 1150px;
    }

    .main-logo img {
        width: 800px;
    }
    .adv-logo {
        margin-left: -150px;
    }
}
